<ion-view view-title="{{courseCode}} {{courseTitle}} {{academicYear}}">
  <ion-content>
    <ion-list>
      <ion-item menu-close href="#/app/course={{courseCode}}&title={{courseTitle}}&year={{academicYear}}/discussions">
        Discussions
      </ion-item>
      <ion-item menu-close href="#/app/course={{course.code}}&title={{course.title}}&year={{course.year}}/resources">
        Resources
      </ion-item>
      <ion-item menu-close href="#/app/course={{course.code}}&title={{course.title}}&year={{course.year}}/information">
        Information
      </ion-item>
      <ion-item menu-close href="#/app/course={{course.code}}&title={{course.title}}&year={{course.year}}/reviews">
        Reviews
      </ion-item>
  </ion-content>
</ion-view>
