<ion-view view-title="Create New Discussion">
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" ng-model="input.title" placeholder="Title">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" ng-model="input.description" placeholder="Comment">
      </label>
    </div>

    <br><br>
    <div class="padding-right padding-left">
      <button class="button button-small button-dark" style="float: left;element3" ng-click="postDiscussionAsAnonymous(false)">
        Post as {{userName}}
      </button>
      <button class="button button-small button-dark" style="float: right;element3" ng-click="postDiscussionAsAnonymous(true)">
        Post as Anonymous
      </button>
    </div>

  </ion-content>
</ion-view>
