<ion-view view-title="Create New Discussion">
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Comment</span>
        <input type="text" placeholder="Comment">
      </label>
    </div>

    <!-- Post as Anonymous option here -->
    <label class="item-input item-select" style="padding-left:0px">
      <div class="input-label">Post as</div>
      <select>
        <option selected>Name</option>
        <option>Anonymous</option>
      </select>
    </label>
    <br><br>
    <div class="centred-button">
      <button class="button button-large button-dark" style="text-align: center;" ng-click="todoAdd()">
        Post Discussion
      </button>
    </div>

  </ion-content>
</ion-view>
