<ion-view view-title="{{courseCode}} {{courseTitle}} {{academicYear}}">
  <ion-content>
    <hr>

    <!-- Display original discussion post in full -->
    <ion-list class="item item-text-wrap">
      <div class="flex-container row wrap">
        <h2  class="col col-80">{{discussion.title}}
          <p class="comment">
            {{discussion.description}}
          </p>
        </h2>
        <h3 class="col col-20">Posts: {{discussion.posts}}</h3>
      </div>
      <div class="flex-container row wrap">
        <i style="color:#2ecc71"class="ion-ios-person"> </i>
        <h3 class="col col-80">{{discussion.author}}</h3>
        <h4 class="col col-20">{{discussion.timeCreated}},<br>{{discussion.dateCreated}}</h4>
      </div>
    </ion-list>

<br>
    <hr>

    <!-- List all follow ups of this discussion -->

     <div class="flex-container row wrap">
        <i style="color:#2ecc71;margin-right:1.5%"class="ion-reply"> </i>
        <p style="color:grey">Replies</p>
      </div>

    <ion-list class="item low-pad-item item-text-wrap" ng-repeat="followUp in followUps | filter:searchBox">
      <div class="flex-container row wrap">
        <p class="col col-80 comment">{{followUp.comment}}</p>
        <h3 class="col col-20" "cursor:pointer;color:#2ecc71">
          {{followUp.upVotes}} <i style="cursor:pointer" class="ion-thumbsup" ng-click="thumbsUp()"></i> &nbsp <!-- arg: followUp.ID -->
          {{followUp.downVotes}} <i style="cursor:pointer" class="ion-thumbsdown" ng-click="thumbsDown()"></i><br>
        </h3>
      </div>
      <div>

      </div>
      <div class="flex-container row wrap">
        <i style="color:#2ecc71"class="ion-ios-person"> </i>
        <h3 class="col col-80">{{followUp.author}}</h3>
        <h4 class="col col-20">{{followUp.timeCreated}},<br>{{followUp.dateCreated}}</h4>
      </div>
    </ion-list>

    <hr>

    <!-- Create new follow up post -->
    <label class="item item-input item-stacked-label">
      <span class="input-label">Post Follow Up</span>
      <input type="text" placeholder="Comment" ng-model="input.comment">

      <label class="item-input item-select" style="padding-left:0px">
        <div class="input-label">Post as</div>
        <select>
          <option selected>Name</option>
          <option>Anonymous</option>
        </select>
      </label>
    </label>
    <br>
    <button class="button button-small button-dark" style="float:right; margin-right:10px" ng-click="postFollowUp()">
      Post Follow Up
    </button>


  </ion-content>
</ion-view>
