<ion-view view-title="Forum">
  <ion-content>
    <h4 class="subtitle padding-right">Forum
      <a class="button button-small button-dark" style="float: right; element3" href="#/app/newThread">
        Start New Thread
      </a></h4>
    <br>

    <ion-list class="item low-pad-item item-icon-right" ng-repeat="thread in forum">
      <a href="#/app/forum={{forum.ID}}">

        <div class="flex-container row wrap">
          <h2 class="col col-80">{{forum.title}}
            <p>
              {{forum.description}}
            </p>
          </h2>
          <h3 class="col col-20">Posts: {{forum.posts}}</h3>
        </div>

        <div class="flex-container row wrap">
          <h3 class="col col-80">{{forum.author}}</h3>
          <h4 class="col col-20">{{forum.timeCreated}}<br>{{forum.dateCreated}}</h4>
        </div>

      </a>

    </ion-list>
  </ion-content>
</ion-view>
