<ion-view view-title="{{courseCode}} {{courseTitle}} {{academicYear}}">
  <ion-content>
    <!-- <h4 class="subtitle">Information</h4> -->
    <div class="card">
      <div class="item item-text-wrap">
        <h4> Module Overview </h4>
        <br>
         {{about}}
      </div>
    </div>

    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
      </div>
    </div>

 <a ng-href="{{link}}"> View More Information </a>  <i class="ion-android-open" style= "font-size:22px">
  </ion-content>
</ion-view>
