<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="center">
    <form ng-submit="doLogin()">
      <div class="card" style="width: 300px">
        <label class="item item-input item-floating-label">
          <span class="input-label">University email</span>
          <input type="text" ng-model="loginData.univEmail" placeholder="University email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <label ng-show="!userExists">{{loginError}}</label>
  </ion-content>
</ion-view>
