<ion-view view-title="My Courses">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="searchBox" placeholder="Search courses">
      </label>
    </div>

    <hr></hr>
    <div class="container-fluid" style="margin-bottom: 10px"></div>

  <div class="table-row wrapper header">
    <div class="wrapper text-4">
    <div class="wrapper text-2">
        <div align="left" class="pushleft text">
          Course Details
        </div>
    </div>
    <hr>

    <div class="item low-pad-item item-icon-right" ng-repeat="course in courses | filter:searchBox">
      <div class="text-right"><button class="button button-icon element2" ng-click="remove(course)"><i class="ion-ios-heart"></i></button></div>
      <a href="#/app/course={{course.code}}&title={{course.title}}&year={{course.year}}/coursemenu">
        <div class="table-row wrapper"></div>
        <div class="wrapper text-4"></div>
        <div class="wrapper text-2"></div>
        <div align="left" class="element1" >{{course.code}}</div>
        <div class="wrapper text-2"></div>
        <div align="left" class="element1">{{course.title}}</div>
        <div align="left" class="element1">{{course.year}}</div>
      </a>
    </div>

  </ion-content>
</ion-view>
