<ion-view view-title="My Profile">
  <ion-content>
    <div class="list">
  <a class="item item-avatar" href="#">
  <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png
">
   <h2 class="text-left">Course</h2>
   <p>Year of Study</p>
 </a>
  <div class="item item-button-right">
    Username
    <button class="button button-positive">
      Change username
    </button>
  </div>
  <div class="item item-button-left">
    Write a review
    <button class="button button-positive">
      <i class="icon ion-edit"></i>
    </button>
  </div>
  <div class="item item-button-left">
      Bookmarks
      <button class="button button-positive">
        <i class="icon ion-bookmark"></i>
      </button>
    </div>



  </ion-content>
</ion-view>
