<ion-view view-title="My Profile">
  <ion-content>
    <div class="list">
  <a class="item item-avatar" href="#">
  <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png
">
   <h2 class="text-left">Name </h2>
   <p>Course</p>
   <p>Year of Study</p>
 </a>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search for a course">
  </label>
</div>
  <div class="item item-button-left">
    Write a review
    <a href="#/app/selectCourse" class="button button-positive">
      <i class="icon ion-edit"></i>
    </a>
  </div>
  <ion-item menu-close href="#/app/reviewsByMe">
        <i class="icon ion-ios-paper" style="font-size:30px"></i>  Reviews By Me
      </ion-item>
  <div class="item item-button-left">
      Favourites
      <a href="#/app/myfavourites" class="button button-positive">
        <i class="icon ion-star"></i>
      </a>
    </div>
    <div class="item item-button-left">
   My Courses
   <a href="#/app/mycourses" class="button button-positive">
     <i class="icon ion-ios-book"></i>
   </a>
 </div>
 <div class="item item-button-left">
Forum
<button class="button button-positive">
  <i class="icon ion-chatboxes"></i>
</button>
</div>






  </ion-content>
</ion-view>
