<ion-view view-title="Start New Thread">
  <ion-content class="padding">

    <div class="create-header">
     <i class="icon ion-chatboxes"></i>
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" ng-model="input.title" placeholder="Title">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" ng-model="input.description" placeholder="Description">
      </label>
    </div>

    <!-- Post as Anonymous option here -->

    <br><br>
    <div class="padding-right padding-left">
      <button class="button button-small button-dark" style="float: left;element3" ng-click="postThreadAsAnonymous(false)">
        Post as {{userName}}
      </button>
      <button class="button button-small button-dark" style="float: right;element3" ng-click="postThreadAsAnonymous(true)">
        Post as Anonymous
      </button>
    </div>

  </ion-content>
</ion-view>
