<ion-view view-title="Reviews by Me">
  <ion-content>
  <p>hi</p>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="r in list " type="item-text-wrap" href="#/app/reviews/{{r.id}}">
        <img ng-src="img/identicon.png">

        <h2>{{r.courseCode}}</h2>
        <h3>{{r.courseName}}</h3>
        <p>Rating: {{r.rating}}</p>
        <p>{{r.comments}} ....</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(r)">
          Delete
        </ion-option-button>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>
