<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Detail">
  <ion-content class="padding">
    <img ng-src="img/identicon.png" style="width: 64px; height: 64px">
    <span>
      Written: {{myReview.timeCreated}}    </span>
    <span>
      {{myReview.dateCreated}}
    </span>
    <p>
      Course Code : {{myReview.courseCode}}
    </p>
    <p>
      Course Name: {{myReview.courseName}}
    </p>
    <p>
      Rating: {{myReview.rating}}
    </p>
    <p>
      Comments: {{myReview.comment}}
    </p>
    <p>
    Author: {{myReview.author}}
    </p>

  </ion-content>
</ion-view>
