<ion-view view-title="Write a Review">
  <ion-content class="padding">

<div class="create-header">
  <i class="ion-android-create"></i>
</div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" ng-model="input.title" placeholder="Title">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Review</span>
        <input type="text" ng-model="input.comment" placeholder="Review">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Rating out of 5</span>
        <input type="number" step="0.1" min="0" max="5" ng-model="input.rating" placeholder="Rating">
      </label>
    </div>
    <div class="padding-right padding-left">
      <button class="button button-small button-dark" style="float: left;element3" ng-click="postReviewAsAnonymous(false)">
        Post as {{userName}}
      </button>
      <button class="button button-small button-dark" style="float: right;element3" ng-click="postReviewAsAnonymous(true)">
        Post as Anonymous
      </button>
    </div>
  </ion-content>
</ion-view>
