/* Empty. Add your own CSS if you like*/
/*body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}*/

.header .col {
    background-color:lightgrey;
}

/*.col {
    border: solid 1px lightgrey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px lightgrey;
}

.row:last-child .col {
    border-bottom: solid 1px lightgrey;
}*/
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 320px) {

    .flex-container.wrap > div{
        width: 50%;
        max-width: 50%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }

}

a:link, a:visited, a:hover, a:active  {
  color:black;
  background-color:transparent;
  text-decoration:none
}

.subtitle {
   text-align:center;
}
