/* Empty. Add your own CSS if you like*/
/*body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}*/

.header .col {
    background-color:lightgrey;
}

.centred-button {
  text-align: center;
}


/*.col {
    border: solid 1px lightgrey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px lightgrey;
}

.row:last-child .col {
    border-bottom: solid 1px lightgrey;
}*/
/*  .table-row {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
} */

/*
 * Define the widths: play around with these to get a best fit.
 */
 .element1 {
  position: relative;
  top: 80%;
  transform: translateY(-80%);
}
.element2 {
 position: relative;
 top: -50%;
 transform: translateY(50%);
}
.pushleft{
 margin-left: 2%;
/*  position: relative;
  right: -55%; */
}
.pushright{
  text-align:right;
}
@text-width: 180px;
@num-width: 80px;

// Main container: initialize the flex, direction is row
.table-row {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

// Wrappers around cells and other wrappers: flex, row, wrap
.wrapper {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: wrap;         -webkit-flex-wrap: wrap;
}

// Text based cells and wrappers: grow equally when there is extra space.
.text-4, .text-2, .text {
  flex-grow: 1;           -webkit-flex-grow: 1;
}

// Text based cells: truncate and show ellipsis when there is not enough space
.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

// Fix the minimum width of the leaf level cells
.text {
  width: @text-width;
}

.num {
  width: @num-width;
}

/*
 * General good-look styles, not mandatory.
 */
body {
  font-size: 20px;
}

.table-row {
  border-collapse: collapse;

}

.table-row.header {
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 320px) {

    .flex-container.wrap > div{
        width: 50%;
        max-width: 50%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }

}

a:link, a:visited, a:hover, a:active  {
  color:black;
  background-color:transparent;
  text-decoration:none
}

.subtitle {
   text-align:center;
}
